*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
   background-color: rgb(133, 127, 127);
}
 .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }

 .toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 50px;
    background-color: black;
    border-radius: 1.9rem;
    transition: 0.5s;
    cursor: pointer;
 }

 .button{
    position: absolute;
    top: 5px;
    left: 2px;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.5s;
 }

 .text{
    position: absolute;
    left: 96px;
    margin: 10px;
    font-size:27px ;
    color: white;
 }

 .active{
    background-color: rgb(92, 58, 58);
   
 }
 .active .button{
    left: 45px;
 }

 .img1{
   background-image: url("../Mode_Change/day.jpg");
   height: 100vh;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }

 .img2{
   background-image: url("../Mode_Change/night.jpg");
   height: 100vh;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }
 

